DATABASE_URL="postgresql://autohub:autohub_dev@localhost:5432/autohub?schema=public"
PORT=3001
FRONTEND_URL="http://localhost:3000"

JWT_SECRET="QUE_TIPO_DE_SEGREDO_EU_DEVO_COLOCAR_AQUI?_UMA_PALAVRA_SECRETA?_BOLA_QUADRADA_DO_EXAMPLE"